.textField {
    width: 80%;
    height: 20%;
}

.container {
    flex-grow: 1;
    width: 100%;
    height: 30%;
}

.curveBorders {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
